html {
  background-color: #99b69b;
}
body {
  background-color: #a0c0a2;
}
* {
  box-sizing: border-box;
}
/* For mobile phones: */
/* [class*="col-"] {
  width: 100%;
} */

/* @media only screen and (min-width: 768px) { */
/* For desktop: */
/* .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
} */

.unselected {
  opacity: 0.5;
}

.selected-tag {
  background-color: black;
}

.main--header {
  display: flex;
  flex-direction: row;
  padding: 0% 12.5%;
  background-color: #f3fff4;
  border: solid 10px rgb(232, 244, 232);
}

.header--title {
  margin: 2.5% 3%;
  font-size: 1.5vw;
  background-color: #f3fff4;
}

.dropdown--box {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropdown-comment {
  margin: auto 10px;
  font-size: 1vw;
}

.btn btn-secondary dropdown-toggle {
  margin: auto 5%;
}

.sign-outbutton {
  height: 50%;
  margin: auto 5%;
}

.new--resource {
  background-color: rgb(232, 244, 232);
}

.resource--card {
  display: flex;
  flex-direction: row;
  font-size: 1.25vw;
  width: 60%;
  margin: 2% auto;
  background-color: #f3fff4;
}

.nr--title {
  width: 75%;
  margin: 0 auto;
  padding: 2% 2%;
  font-size: 1.5vw;
}

.leftColumn {
  margin-right: auto;
  padding: 10px;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.leftContainer {
  margin: 2% auto;
  padding: 10px;
}

.nr--input {
  width: 95%;
  margin: 2% 0%;
  background-color: rgb(232, 244, 232);
}

.dropdown {
  margin: 0 auto;
}

.tagdown {
  margin: 0 auto;
}

.rightColumn {
  margin-left: auto;
  padding: 10px;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.rightFreeTextContainer {
  height: 45%;
  margin: 5% 10px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.freetextarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.submit {
  width: 20%;
  margin: 2% 40%;
  background-color: #99b69b;
  border-color: #6f8f71;
}

.flex-column {
  display: flex;
  flex-direction: column;
  background-color: #6f8f71;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.form-control {
  width: 75%;
  margin: 2% 10%;
  background-color: #f3fff4;
  border: solid 1px #6f8f71;
}

.filter--dropdown {
  margin: auto 5%;
}

.form-check-label {
  border: solid 1px orange;
}
.card {
  width: 80%;
  margin: 5% 10%;
  border-radius: 25px;

  background-color: #cce2cd;
}

.card-title {
  /* font-family: “Playfair Display”, “Didot”, "Times New Roman", Times, serif; */
  padding: 2ex;
  margin: 0% 5%;
  border-radius: 25px;
  background-color: #b4cfb0;
}

.card-body-mid {
  padding: 1ex;
  margin: 1% 5.5%;
  border-radius: 25px;
  background-color: #94b49f;
}

.text-bg-primary {
  margin: 5px;
  color: #212529;
  background-color: #38a3a5;
}

.text-bg-warning {
  margin: 5px;
  color: #212529;
  background-color: #57cc99;
}
.text-bg-success {
  margin: 5px;
  color: #212529;
  background-color: #80ed99;
}
.card-footer-buttons {
  justify-content: flex-start;
  display: inline-flex;
}
.card-body-foot {
  padding: 1ex;
  margin: 1% 5.5%;
  border-radius: 25px;
  background-color: #87bd9a;
}

/*show comments btn*/
.btn-info {
  margin: auto;
  padding: 0, 0.2ex;
  color: #212529;
  background-color: #e0d8b0;
  border-color: #e0d8b0;
}

/*like btn*/
.btn-success {
  margin: auto;
  padding: 0, 0.2ex;
  color: #212529;
  background-color: #92ba92;
  border-color: #92ba92;
}
/*add to study list btn*/
.btn-primary {
  margin: auto;
  padding: 0, 0.2ex;
  color: #212529;
  background-color: #e5e3c9;
  border-color: #e5e3c9;
}
/*dislike btn*/
.btn-danger {
  margin: auto;
  padding: 0, 0.5ex;
  color: #212529;
  background-color: #bb6464;
  border-color: #bb6464;
}
