html {
  background-color: #99b69b;
}

.unselected {
  opacity: 0.5;
}

2

.selected-tag {
  background-color: black;
}

.main--header {
  display: flex;
  flex-direction: row;
  padding: 0% 12.5%;
  background-color: #f3fff4;
  border: solid 10px rgb(232, 244, 232);
}
.header--title {
  margin: 2.5% 3%;
  font-size: 1.5vw;
  background-color: #f3fff4;
}
.dropdown--box {
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dropdown-comment {
  margin: auto 10px;
  font-size: 1vw;
}
.btn btn-secondary dropdown-toggle {
  margin: auto 10px;
}

.new--resource {
  background-color: rgb(232, 244, 232);
}
.resource--card {
  display: flex;
  flex-direction: row;
  font-size: 1.25vw;
  width: 60%;
  margin: 2% auto;
  background-color: #f3fff4;
}
.nr--title {
  width: 75%;
  margin: 0 auto;
  padding: 2% 2%;
  font-size: 1.5vw;
}
.leftColumn {
  margin-right: auto;
  padding: 10px;
  width: 40%;
  display: flex;
  flex-direction: column;
}
.leftContainer {
  margin: 2% auto;
  padding: 10px;
}
.nr--input {
  width: 95%;
  margin: 2% 0%;
  background-color: rgb(232, 244, 232);
}
.dropdown {
  margin: 0 10px;
}
.tagdown {
  margin: 0 auto;
}
.rightColumn {
  margin-left: auto;
  padding: 10px;
  width: 60%;
  display: flex;
  flex-direction: column;
}
.rightFreeTextContainer {
  height: 45%;
  margin: 5% 10px;
  box-sizing: border-box;
  background-color: #ffffff;
}
.freetextarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.submit {
  width: 20%;
  margin: 2% 40%;
  background-color: #99b69b;
  border-color: #6f8f71;
}

.flex-column {
  display: flex;
  flex-direction: column;
  background-color: #6f8f71;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.form-control {
  width: 75%;
  margin: 2% 10%;
  background-color: #f3fff4;
  border: solid 1px #6f8f71;
}
.filter--dropdown {
  margin: auto 5%;
}
.form-check-label {
  border: solid 1px orange;
}
